.menu {
    background-color : #f7f7f7;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    text-align : right;
    padding : 15px 5px;
    font-size : 18px;
}

.menu li.active {
    background-color : #f9f9f9;
}

.panel figure {
    height : 150px;
}

.pagination a {
    padding-right : 10px;
}