<div class="row" style="padding-top : 10px;">
    <div ng-repeat="product in vm.topProducts" class="column small-12 medium-4 large-3">
        <div class="panel">
            <h2>{{product.name}}</h2>
            <p>
                {{product.description.substr(0, 255)}}
            </p>
        </div>
    </div>
</div>