<div class="row" style="padding-top : 10px;">
    <div class="column medium-2 menu">
        <ul>
            <li ng-repeat="category in vm.categories">
                <a ui-sref="list.products({ category : category.id})">{{category.name}}</a>
            </li>
        </ul>
    </div>
    <ui-view></ui-view>
</div>