<div class="column medium-10">
    <div class="row">
        <div class="column small-12 medium-4 large-3"
             ng-repeat="product in vm.products">
            <div class="panel">
                <h2 class="text-center">{{product.name}}
                    <small>{{product.price}} DH</small></h2>
                <div class="row">
                    <button class="column small-10 small-offset-1 warning small">
                        <i class="fa fa-cart-plus"></i> ajouter au panier</button>
                    <a href="javascript:void(0)"
                       class="button column small-10 left small-offset-1 info small">
                        <i class="fa fa-plus"></i> détails
                    </a>
                </div>
            </div>
        </div>
        <div class="column small-12">
            <span class="pull-left pagination">
                <a href="#">5</a>
                <a href="#">10</a>
                <a href="#">20</a>
            </span>
            <span class="pull-right pagination">
                <a ng-repeat="i in vm.pages"
                   ui-sref="list.products({ category : vm.category, page : i})">{{i}}</a>
            </span>
        </div>
    </div>
</div>